@import "src/app/variables";

.h1 {
  color: $text-color;
  font-size: 56px;
  line-height: 65px;
  font-weight: 500;
}

.h3 {
  color: $text-color;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.h3Varied {
  @extend .h3;
  color: $hexagon-border;
  text-align: left;
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .h3Varied {
    text-align: center;
  }
}